slides/*.aux
slides/*.bbl
slides/*.bcf
slides/*.blg
slides/*.fdb_latexmk
slides/*.fls
slides/*.log
slides/*.nav
slides/*.out
slides/main.pdf
slides/*.run.xml
slides/*.snm
slides/*.synctex.gz
slides/*.toc
slides/*.vrb
examples/lab/vendor/
.venv/
examples/.ipynb_checkpoints/
